#top-banner {margin: 0 auto;}

#top-banner, #about-maldives-slider {overflow: hidden;}
#top-banner .carousel-control, #about-maldives-slider .carousel-control {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  padding-top: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  top: 50%;
  border-radius: 50%;
  -ms-border-radius: 50%; /* IE 9 */
  -moz-border-radius: 50%; /* Firefox 4 */
  -webkit-border-radius: 50%; /* Safari 和 Chrome */
  -o-border-radius: 50%; /* Opera */
  transition: all 0.2s linear 0s;
  -ms-transition: all 0.2s linear 0s; /* IE 9 */
  -moz-transition: all 0.2s linear 0s; /* Firefox 4 */
  -webkit-transition: all 0.2s linear 0s; /* Safari 和 Chrome */
  -o-transition: color all 0.2s linear 0s; /* Opera */
}
#top-banner .carousel-control.left, #about-maldives-slider .carousel-control.left {
  transform: translateX(-50px);
  -ms-transform: translateX(-50px); /* IE 9 */
  -moz-transform: translateX(-50px); /* Firefox 4 */
  -webkit-transform: translateX(-50px); /* Safari 和 Chrome */
  -o-transform: translateX(-50px); /* Opera */
}
#top-banner .carousel-control.right, #about-maldives-slider .carousel-control.right {
  transform: translateX(50px);
  -ms-transform: translateX(50px); /* IE 9 */
  -moz-transform: translateX(50px); /* Firefox 4 */
  -webkit-transform: translateX(50px); /* Safari 和 Chrome */
  -o-transform: translateX(50px); /* Opera */
}
#top-banner:hover .carousel-control, #top-banner:focus .carousel-control, #about-maldives-slider:hover .carousel-control, #about-maldives-slider:focus .carousel-control {
  transform: translateX(0px);
  -ms-transform: translateX(0px); /* IE 9 */
  -moz-transform: translateX(0px); /* Firefox 4 */
  -webkit-transform: translateX(0px); /* Safari 和 Chrome */
  -o-transform: translateX(0px); /* Opera */
}
#top-banner .carousel-inner {max-height: 600px;}
#top-banner .carousel-indicators {
  left: 32%;
  text-align: left;
}
#top-banner .carousel-indicators li {
  width: 20px; 
  height: 20px;
  margin: 0 4px;
  padding: 2px;
  border: 1px solid #fff;
  background: none;
  border-radius: 0;
  -ms-border-radius: 0; /* IE 9 */
  -moz-border-radius: 0; /* Firefox 4 */
  -webkit-border-radius: 0; /* Safari 和 Chrome */
  -o-border-radius: 0; /* Opera */
}
#top-banner .carousel-indicators li.active span {
  width: 14px;
  height: 14px;
  background-color: #946f28;
  display: block;
}
#about-maldives-slider .carousel-control {
  width: 30px;
  height: 30px;
  padding-top: 8px;
  font-size: 14px;
}
#about-maldives-slider .carousel-control {
  /*opacity: 0;*/
}

#about-maldives-slider .carousel-indicators li {
  padding: 2px;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
}
#about-maldives-slider .carousel-indicators li.active span {
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  display: block;
  border-radius: 50%;
  -ms-border-radius: 50%; /* IE 9 */
  -moz-border-radius: 50%; /* Firefox 4 */
  -webkit-border-radius: 50%; /* Safari 和 Chrome */
  -o-border-radius: 50%; /* Opera */
}

#left-column .side-bar {width: 263px;}
#left-column .side-bar.affix {top: 20px;}
#left-column .side-bar .nav a {
  font-size: 18px;
  color: #888276;
}
#left-column .side-bar .nav a:hover, #left-column .side-bar .nav a:focus {
  background-color: #e3e3e3;
  color: #946f28;
}
#left-column .side-bar .nav .active a {
  background-color: #946f28;
  color: #e3e3e3;
}

#container .content {margin: 20px auto;}
#container section {padding: 10px 0;}
#container section h3 {
  padding-bottom: 8px;
  border-bottom: 2px solid #888276;
  color: #946f28;
}
#container section p {
  margin: 10px 0;
  padding: 0 10px;
  line-height: 24px;
  color: #5c5c5c;
}
#container section .thumb img {
  /*width: 330px;*/
  max-width: 100%;
  height: auto;
  margin: 20px 0;
}
#container section ul {padding: 10px;}
#container section ul li {
  margin: 10px;
  list-style: outside;
  font-style: italic;
}
#container .welcome a.cabin-view {color: #946f28;}